#animation
{
	float:right;
}

#scene>h2
{
	position: relative;
	top: 200px;
	text-align: center;
	color: bisque;
	font-family: sans-serif;
	font-style: italic;
	z-index: 100;
	animation: waveSail 3s ease-in-out infinite,
					   fontbulger 10s ease infinite;
					   
	-moz-animation: waveSail 3s ease-in-out infinite,
					fontbulger 10s ease infinite;					   
}

@-webkit-keyframes fontbulger {
	0%, 100% {
			font-size: 12px;
	}
	50% {
			font-size: 72px;
	}
}

@-moz-keyframes fontbulger {
	0%, 100% {
			font-size: 12px;
	}
	50% {
			font-size: 72px;
	}
}


#scene {   
	/* Positioning and dimensions */
	position: relative;
	top: 200px;
	left: 10px;
	width: 400px;
	height: 300px;
	overflow: hidden;
	
	/* --- Gradient background --- */            
	background: #0099ff;                         /* Solid fallback for old browsers */               
	background: linear-gradient(#0099ff 10%, #00ccff, #000033);  /* general syntax - last */
}

.ship {  /* position for all the ships */
	position: absolute;
	/* Animation properties to be added here */
	/* Firefox */
	-moz-animation: shipSail linear infinite;
	/* WebKit - Chrome and Safari */
	-webkit-animation: shipSail linear infinite;
	/* Opera */
	-o-animation: shipSail linear infinite;
	/* general syntax */
	animation: shipSail linear infinite;
}

.lrg { /* starting position for the large ship - off screen */
	/* image is 2400 x 1794 px */
	bottom: -440px;
	left: -140px;
	
	/* Duration is different for each ship */
	/* Firefox */
	-moz-animation-duration: 12s;
	/* WebKit - Chrome and Safari */
	-webkit-animation-duration: 12s;
	/* Opera */
	-o-animation-duration: 12s;
	/* general syntax */
	animation-duration: 12s;
}

.med { /* starting position for the medium ship - off screen */
	/* image is 800 x 598 px */
	bottom: 80px;
	left: -110px;
	
	/* Duration is different for each ship */
	/* Firefox */
	-moz-animation-duration: 20s;
	/* WebKit - Chrome and Safari */
	-webkit-animation-duration: 20s;
	/* Opera */
	-o-animation-duration: 20s;
	/* general syntax */
	animation-duration: 20s;
}

.sml { /* starting position for the small ship - off screen */
	/* image is 300 x 224 px */
	bottom: 130px;
	left: -80px;
	
	/* Duration is different for each ship */
	/* Firefox */
	-moz-animation-duration: 30s;
	/* WebKit - Chrome and Safari */
	-webkit-animation-duration: 30s;
	/* Opera */
	-o-animation-duration: 30s;
	/* general syntax */
	animation-duration: 30s;
}

/* define the ship sail */
/* general syntax */
@keyframes shipSail 
{
	from { transform: translateX(1540px); }
	to { transform: translateX(-2400px) ; }
}

@keyframes waveSail
{
	0%, 25%, 50%, 75%, 100% { transform: translateY(0) rotate(-5deg); }
	12%,  87% { transform: translateY(10px) rotate(0) ; }
	37%, 62%  { transform: translateY(10px) rotate(5deg) ; }
}

@-webkit-keyframes waveSail
{
	0%, 25%, 50%, 75%, 100% { transform: translateY(0) rotate(-5deg); }
	12%,  87% { transform: translateY(10px) rotate(0) ; }
	37%, 62%  { transform: translateY(10px) rotate(5deg) ; }
}

/* browser specific animation */
/* Firefox */
@-moz-keyframes shipSail {
	from { -moz-transform: translateX(1540px); }
	to { -moz-transform: translateX(-2400px); }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes shipSail {
	from { -webkit-transform: translateX(1540px); }
	to { -webkit-transform: translateX(-2400px); }
} 
/* Opera */
@-o-keyframes shipSail {
	from { -o-transform: translateX(1540px); }
	to { -o-transform: translateX(-2400px); }
}
