
@font-face {
    font-family: 'Limelight Quotes';
     src: url('styles/fonts/Limelight-webfont.eot');
     src: url('styles/fonts/Limelight-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/Limelight-webfont.woff') format('woff'),
         url('styles/fonts/Limelight-webfont.ttf') format('truetype'),
         url('styles/fonts/Limelight-webfont.svg#LimelightRegular') format('svg');
    unicode-range: U+201c-d;
}

/* * {
	margin: 0px;
	padding: 0px;
} */

.quote {
    font-family: 'Limelight Quotes', serif;
    font-size: 150%;
}

body
{	
	font-family:arial, verdana, helvetica;
	color:gray;
	font-size:14px;
	background-color:lightseagreen;
	background-attachment:fixed;
	background-size:contain;
/* 	background-image: linear-gradient(#FFEB79, #C24704);
 	background-image:url("../images/parthenon-texture.png"),linear-gradient(#FFEB79, #C24704);
	*/
}

header
{
	padding-left:20px;
	margin:0px;
    display:block;
	width:850px;
	height:60px;
	background:red;
}

/* here the navigation entry */
a.navtile
{
	display: block;
	width: 100px;
	height: 30px;
	color: yellow;
	vertical-align:bottom;
	text-decoration: none;
}

/* here the navigation entry that matches the current page */
a.navtile-select
{
	display: block;
    width: 100px;
	height: 30px;
	color: white;
	text-align:center;
	vertical-align:middle;
	text-decoration: none;
	background-color: #669999;
}

p.labl
{
    width: 390px;
    text-align: right;
}

nav 
{
	font-family:arial, verdana, helvetica;
	font-size:20px;
	width: 100px;
	display:block;
	float:left;
	width:100px;
	height:700px;
	background:green;
}

section
{
	position: absolute;
	overflow-y: auto;
	padding-top: 10px;
	padding-left:20px;
    margin-left:100px;
	padding-right:20px;
	display:block;
	width: 730px;
	height:690px;
	background:lightgreen;
}

#personalmsg
{
	font-size:2.0em;
	color:red;
	padding:0px;
	margin-top:0px;
	font-family:"Comic Sans MS", cursive, sans-serif
}


h2.Center
{
	margin-top:0;
	text-align:center;
}

p.Center
{
	margin-top:0;
	text-align:center;
}

footer
{
	width:870px;
	height:40px;
	background:lightseagreen;
	margin-top: 690px;
}

div.leftCol
{
	font-weight:bold;	
	display:inline-block;margin-right:10px;
	margin-left:20px;
}
div.rightCol
{
	font-weight:bold;
	display:inline-block;margin-right:75px;
	float:right;			
}