nav 
{
font-family:arial, verdana, helvetica;
font-size:20px;
width: 100px;
display:block;
float:left;
width:100px;
height:700px;
background:green;

}
/* here the navigation entry */
a.navtile
{
	display: block;
    width: 100px;
	height: 30px;
	color: yellow;
    text-decoration: none;
}

/* here the navigation entry that matches the current page */
a.navtile-select
{
	display: block;
    width: 100px;
	height: 30px;
	color: white;
	text-decoration: none;
	background-color: #669999;
}

body
{
font-family:arial, verdana, helvetica;
color:gray;
font-size:14px;
background-color:white;
}
